<div class="col-md-8 col-md-offset-2">
  <h3>Search for a Flight</h3>
  <hr>
  <%= form_tag(flights_path, method: :get) do %>
    <div class="form-group">
      <%= label_tag :departure_airport_id, "Departing from:" %>
      <%= select_tag(:departure_airport_id, options_for_select(@airport_choices, @departure_airport), class: "form-control") %>
    </div>
    <div class="form-group">
      <%= label_tag :arrival_airport_id, "Arriving to:" %>
      <%= select_tag(:arrival_airport_id, options_for_select(@airport_choices, @arrival_airport), class: "form-control") %>
    </div>
    <div class="form-group">
      <%= label_tag :passenger_count, "Number of Passengers:" %>
      <%= select_tag(:passenger_count, options_for_select(@passenger_choices, @passenger_count), class: "form-control") %>
    </div>
    <%= submit_tag "Search Flights", class: "btn btn-success form-control" %>      
  <% end %>
</div>
<hr>
<% if !@flights.empty? %>
  <div class="col-md-10 col-md-offset-2">
    <h5>Available Flights</h5>
    <p>From: <b><%= "#{@flights.first.departure_airport.code} - #{@flights.first.departure_airport.name}" %></b></p>
    <p>To: <b><%= "#{@flights.first.arrival_airport.code} - #{@flights.first.arrival_airport.name}" %></b></p>
    <table class="table-striped">
      <thead>
        <tr>
          <th><!-- (radio button) --></th>
          <th>Flight #</th>
          <th>Departs</th>
          <th>Arrives</th>
          <th>Departure Time</th>
          <th class="text-right">Flight Duration</th>
        </tr>
      </thead>
      <%= form_tag(new_reservation_path, method: :get) do %>
        <tbody>
          <% @flights.each do |flight| %>
            <tr>
              <td><%= radio_button_tag(:flight_id, flight.id, class: "flight_select") %></td>
              <td class="text-right"><%= flight.id %></td>
              <td class="text-center"><%= flight.departure_airport.code %></td>
              <td class="text-center"><%= flight.arrival_airport.code %></td>
              <td><%= flight.departure_time.strftime("%a %d %b %y at %I:%M %P") %></td>
              <td class="text-right"><%= "#{flight.duration/60} hrs #{flight.duration%60} mins" %></td>
            </tr>
          <% end %>
        </tbody>
        <%= hidden_field_tag(:passenger_count, @passenger_count) %>
      </table>
      <hr>
      <%= submit_tag("Choose Flight", class: "btn btn-warning form-control") %>
      <hr>
    <% end %>
  </div>
<% end %>

