<div class="row justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center">Reservation Details</h1>
    <hr>
    <p>Flight: <b><%= @flight.id %></b></p>
    <p>From: <b><%= @flight.departure_airport.name %></b></p>
    <p>To:   <b><%= @flight.arrival_airport.name %></b></p>
    <p>Date & Departure Time: <b><%= @flight.departure_time.strftime("%a %d %b %Y at %I:%M %P") %></b></p>
    <p>Flight Duration: <b><%= pluralize(@flight.duration/60, 'hr') %> <%= pluralize(@flight.duration%60, 'min') %></b></p>
    <h4>Please enter Passenger information for selected flight:</h4>
    <div class="well">
      <%= form_for @reservation do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.hidden_field :flight_id, value: @flight.id %>
        <% @i = 1 %>
        <%= f.fields_for :passengers do |pass| %>
          <P><%= pass.label "#{@i.ordinalize} passenger:" %></P>
          <p><%= pass.text_field :name, placeholder: "Name", autofocus: true, required: true, class: "form-control" %></p>
          <p><%= pass.email_field :email, placeholder: "email", required: true, class: "form-control" %></p>
          <% @i += 1 %>
          <hr>
        <% end %>
        <%= f.submit "Confirm Reservation", class: "btn btn-success form-control" %>
        <br><br>
      <% end %>
    </div>
  </div>
</div>
